<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>

<body>


    <!-- Navbar Start -->
 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><img src="assets/img/newlogo.png" alt="Logo" class="logo-img me-3 icon-size">Vision Shakti</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" class="nav-item nav-link">Home</a>
            <a routerLink="/about" class="nav-item nav-link active">About</a>
            <a routerLink="/event" class="nav-item nav-link ">Event</a>
            <a routerLink="/courses" class="nav-item nav-link">Courses</a>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a routerLink="/donate" class=" py-4 px-lg-1 d-none d-lg-block">Donate<i class="fa fa-heart"style="color: red;"></i></a>
        <a routerLink="/login" class="btn btn-primary py-4 px-lg-2 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
       
      
    </div>
</nav>
    <!-- Navbar End -->



    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

<!--    -->


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">WHY Women Empowerment?</h6>
                <h1 class="mb-4">Women Empowerment</h1>
                <p class="mb-4">Over the past decade, gender equality has been recognized as crucial not only to the health of nations but also to their social and economic development.</p>
                <p class="mb-4"> It involves promoting equal rights, opportunities, and access to resources for women. enabling them to make independent choices and have control over their lives.</p>
                <p class="mb-4">Empowered women contribute to economic growth, social progress, and sustainable development.  </p>
                <p class="mb-4"> They play active roles in decision-making processes, education, healthcare, and leadership positions</p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/work.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="assets/img/Women-Entrepreneurs.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to Vision Shakti</h1>
                    <p class="mb-4">Welcome to Vision Shakti, where we're dedicated to empowering women through education, skills development, and entrepreneurial opportunities.</p>
                    <p class="mb-4">At Vision Shakti, we believe that every woman has untapped potential and deserves the chance to thrive, regardless of background or circumstances.</p>
                    <p class="mb-4">Our mission is to provide a supportive and inclusive platform where women can learn, grow, and achieve their goals.</p>
                    <p class="mb-4">Our Mission But education is just the beginning. We're passionate about empowering women to take charge of their futures and pursue their dreams with confidence. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


       <!-- Mission start-->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Our Mission</h6>
                <h1 class="mb-4">Mission of Vission Shakti</h1>
                <p class="mb-4">vision shaktiis to empower underprivileged children, youth and women through relevant education, innovative healthcare and market-focused livelihood programmes.</p>
                <p class="mb-4">At Vision Shakti, we believe that every woman has untapped potential and deserves the chance to thrive, regardless of background or circumstances.</p>
                <p class="mb-4">vision shakti is to deploy best possible methodology and technology for achieving ideal SROI (social return on investment), to practice and promote good governance. </p>
                <p class="mb-4">To link business competitiveness of the corporate with social development initiatives; also to sensitize privileged children, youth and citizens in general to promote Civic Driven Change</p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/CHE-2.webp" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mission End -->


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Team</h6>
            <h1 class="mb-5">Our team</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/deepak.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="http://www.linkedin.com/in/deepak-khodke-a66894249"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://github.com/dashboard"><i class="fab fa-github"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.instagram.com/dipakkhodke03/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Deepak khodke</h5>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/pratiksha.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="http://www.linkedin.com/in/pratiksha-naik-323244233"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://github.com/Pratiksha78Naik"><i class="fab fa-github"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.instagram.com/pratiksha_710naik?igsh=ZTc4eHhpaGVkbjd0"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Pratiksha Naik</h5>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/deeksha.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.linkedin.com/in/deeksha-varshney-424626256/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://github.com/deekshavarshneysasni"><i class="fab fa-github"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.instagram.com/deeksha__varshney?igsh=c3l6ZHYxbDd6bG1t"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Deeksha Varshney</h5>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/Vaibhav.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.linkedin.com/in/vaibhav-gourkhede-83b312235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://github.com/vabha1409"><i class="fab fa-github"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.instagram.com/vaibhav__9158?igsh=MWI2M3dvOG9hN2d5ZA=="><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Vaibhav Gaurakhade</h5>
                        <small></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Team End -->
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" routerLink="/About">About Us</a>
                    <a class="btn btn-link" routerLink="/contact">Contact Us</a>
                    <a class="btn btn-link" routerLink="/courses">Courses</a>
                    <a class="btn btn-link" routerLink="/donate">Donate</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>V.N Purav Marg, Chunabhatti, Sion</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>vision_shaktiv.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/istockphoto-1244354856-2048x2048.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/rural-indian.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/smiling-women.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/Women-Entrepreneurs.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/women.webp" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/Industree-IKEA-collection-cut-e1579793440619.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Empower a woman, and you empower a community</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom"  routerLink="">Vision Shakti</a>, All Right Reserved.

                        
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a routerLink="/">Home</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>

</html>