<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sewing Machine Technology</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>

<body>


    <!-- Navbar Start -->
 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><img src="assets/img/newlogo.png" alt="Logo" class="logo-img me-3 icon-size">Vision Shakti</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" class="nav-item nav-link">Home</a>
            <a routerLink="/about" class="nav-item nav-link">About</a>
            <a routerLink="/event" class="nav-item nav-link ">Event</a>
            <a routerLink="/courses" class="nav-item nav-link active">Courses</a>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a routerLink="/donate" class=" py-4 px-lg-1 d-none d-lg-block">Donate<i class="fa fa-heart"style="color: red;"></i></a>
        <a routerLink="/login" class="btn btn-primary py-4 px-lg-2 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
       
      
    </div>
</nav>
    <!-- Navbar End -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1900px;min-width:500px" id="home">
        <!-- First image -->
        <img class="image" src="assets/img/sewing-transformed.jpeg" alt="Bakery" style="width:100%; height:auto; position:relative;">
        <div class="w3-display-middle w3-padding-large w3-text-white" style="text-align:center; position:absolute; top:60%; left:50%; transform:translate(-50%, -50%); z-index:1;">
            <h1>Sewing Machine Technology</h1>
        </div>
    </header>
    
    
     
    
    <div class="w3-content mt-5" style="max-width:1100px; margin:0 auto; ">
        <div class="w3-row-padding w3-padding-64" id="bakeryabout" style="display: flex; margin-top:35%">
            <div class="w3-col m6 w3-padding-large">
                <img src="assets/img/trailor.jpg" class="w3-round w3-image w3-hide-small" alt="Table Setting" style="width: 60%;"> <!-- Increased image width to 80% -->
            </div>
            <div class="w3-col m6 w3-padding-large" style="width: 50%; ">
                <h3 class="w3-center">Sewing Machine Technology</h3><br>
                <h5 class="w3-center">In rural areas</h5>
                <p class="w3-large">For an economic enterprise that works for women, the imperative is to find contemporary, competitive and professional solutions that equip women to participate in the market. 
                    The simple sewing machine is one of the most affordable and transferable technologies available for rural women. Whether it is for women working from home or in an organised unit, it ensures production and an immediate rate of return from very low investment. 
                  <p class="w3-large ">The sewing machine can deliver an unlimited product range and output, the flexibility of functions making it viable for starting ventures in rural areas. With a simple change of needle and thread it can work from chiffon and silk to leather, canvas, and from garments to bags and quilts.</p>
                  <p class="w3-large">Products made on the sewing machine like garments, home linen and accessories have an eternal market - they are in demand all the time. No other technology allows this kind of scope in a rural area - for adaptability, elasticity in installed capacity, product range, skill, competitiveness in markets; and that is, most of all, so suitable for women.</p>
                </div>
            
        </div>
    </div>

  
        <div class="w3-responsive"style="margin-top:100px; text-align: center;">
            <iframe width="1100" height="400" src="https://www.youtube.com/embed/DhlXP4XU7Us?si=3Afv-9Hh7X1Dcs7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

       <div class="w3-row-padding w3-padding-64 text-center" id="menu" style="display: flex; margin-top: 8%">
    <div class="w3-col l6 w3-padding-large" style="width: 50%">
        <h3 class="w3-center">Impact 2022-2023</h3><br>
        <h4>150,000+</h4>
        <p class="w3-text-grey">Women Impacted through Our Organization</p><br>
    
        <h4>1,000+</h4>
        <p class="w3-text-grey">Women and adolescent girls trained as change agents</p><br>
    
        <h4>80,000+</h4>
        <p class="w3-text-grey">Girls and Women provided awareness & access to Healthcare</p><br>
    
        <h4>54</h4>
        <p class="w3-text-grey">Women-led businesses and small enterprises initiated</p><br>
    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
        <img src="assets/img/group-transformed.jpeg" class="w3-round w3-image" alt="Menu" style="max-width: 30%;">
    </div>
</div>

        
           
        
        
        
        
    
       <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" routerLink="/About">About Us</a>
                    <a class="btn btn-link" routerLink="/contact">Contact Us</a>
                    <a class="btn btn-link" routerLink="/courses">Courses</a>
                    <a class="btn btn-link" routerLink="/donate">Donate</a>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>V.N Purav Marg, Chunabhatti, Sion</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>vision_shaktiv.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/istockphoto-1244354856-2048x2048.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/rural-indian.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/smiling-women.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/Women-Entrepreneurs.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/women.webp" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/Industree-IKEA-collection-cut-e1579793440619.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Empower a woman, and you empower a community.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom"  routerLink="">Vision Shakti</a>, All Right Reserved.

                        
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a routerLink="/">Home</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
      
    </body>
    </html>
    