<section class="container">
    <div class="forgot-password-container">
        <div class="form-container">
            <h1 class="opacity">Forgot Password</h1>
            <form >
                <input formControlName="email" type="email" class="form-control" placeholder="Enter your email address" autocomplete="email">

                <input formControlName="password" type="password" placeholder="Enter Password" class="form-control" autocomplete="current-password">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>
