
<body>
    
 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><img src="assets/img/newlogo.png" alt="Logo" class="logo-img me-3 icon-size">Vision Shakti</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" class="nav-item nav-link">Home</a>
            <a routerLink="/about" class="nav-item nav-link">About</a>
            <a routerLink="/event" class="nav-item nav-link ">Event</a>
            <a routerLink="/courses" class="nav-item nav-link active">Courses</a>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a routerLink="/donate" class=" py-4 px-lg-1 d-none d-lg-block">Donate<i class="fa fa-heart" style="color:red"></i></a>
        <a routerLink="/login" class="btn btn-primary py-4 px-lg-2 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
       
      
    </div>
</nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="section-title bg-white text-center text-primary px-3">courses</h6>
                <h1>Our Courses</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <!-- Replace the placeholder icon with your logo -->
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <!-- Insert your logo design here -->
                            <img src="assets/img/swing.jpg" alt="Swingmachine Technology Logo" style="width: 100%; height: auto;">
                        </div>
                        <h4 class="mb-3">Sewingmachine Technology</h4>
                        <p class="mb-4">The youth women are getting less privileged and they get problems to go out from their homes to work. But if we train them with a lady staff and they can assured of getting skills on sewing and there is a lot of opportunity to them to use their skill and earn money so that they can survive and help their family.</p>
                        <a class="btn" routerLink="/sewing"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <!-- Replace the placeholder icon with the computer icon -->
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <!-- Computer icon -->
                            <i class="fa fa-desktop text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Basic Computer</h4>
                        <p class="mb-4">Use of computers & internet is growing every day. Rural people are not aware about technologies. If they become computer literate the world of information is open for them.They can collect information about their sector and work accordingly. Rural people can increase their business. </p>
                        <a class="btn" routerLink="/basic-computer"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <!-- Natural cosmetics icon -->
                            <i class="fa fa-leaf text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Natural Cosmetics</h4>
                        <p class="mb-4">Natural cosmetics can have a significant impact in rural areas, where access to conventional beauty products may be limited, and traditional remedies and resources from nature are more readily available. </p>
                        <a class="btn" routerLink="/cosmetic"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <!-- Replace the placeholder icon with the bakery icon -->
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <!-- Bakery icon -->
                            <i class="fa fa-birthday-cake text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Bakery</h4>
                        <p class="mb-4">Rural areas often have access to fresh, locally sourced ingredients such as grains, fruits, and dairy products. Utilizing these ingredients in bakery products can enhance the quality and flavor of the offerings while supporting local farmers and suppliers.</p>
                        <a class="btn" routerLink="/bakery"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <!-- Replace the placeholder icon with the handmade craft icon -->
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <!-- Insert your logo design here -->
                            <img src="assets/img/craft.png" alt="Handmade Craft" style="width: 80%; height: auto;">
                        </div>
                        <h4 class="mb-3">Handmade Craft</h4>
                        <p class="mb-4">Rural areas often have rich cultural heritage and traditional craftsmanship passed down through generations. Handmade crafts help preserve these skills, ensuring they are not lost to modernization. </p>
                        <a class="btn" routerLink="/handmade"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <!-- Basket icon -->
                            <i class="fa fa-shopping-basket text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Basket Making</h4>
                        <p class="mb-4">Basket making often relies on locally available materials such as reeds, grasses, vines, and branches. Rural areas typically abound with these natural resources, providing artisans with readily accessible materials for their craft.</p>
                        <a class="btn" routerLink="/basket"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


 
   <!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="text-center col-lg-6 wow fadeInUp" data-wow-delay="0.1s"> 
                <p class="d-inline-block border rounded-pill py-1 px-4">Registration</p> 
                <h1 class="mb-4">Register for Vision Shakti Program</h1>
                <p class="mb-4">Join our Vision Shakti program to empower yourself with valuable skills and opportunities. Fill out the form below to register.</p>
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Call Us Now</p>
                        <h5 class="mb-0">+012 345 6789</h5>
                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Mail Us Now</p>
                        <h5 class="mb-0">infoexample.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                    <form>
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="text" class="form-control border-0" placeholder="Your Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control border-0" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" placeholder="Your Mobile" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control border-0" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <select class="form-select border-0" [(ngModel)]="course" [ngModelOptions]="{standalone: true}" style="height: 55px;">
                                    <option selected>Select Course</option>
                                    <option value="sewing">Sewingmachine Technology</option>
                                    <option value="computer">Basic Computer</option>
                                    <option value="cosmetics">Natural Cosmetics</option>
                                    <option value="bakery">Bakery</option>
                                    <option value="craft">Handmade Craft</option>
                                    <option value="basket">Basket Making</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" rows="5" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" placeholder="Why do you want to join Vision Shakti?"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" (click)="save()">Register Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Appointment End -->


  <!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Testimonial</p>
            <h1>What Say Our Trainee!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/shilpa.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4">
                    <p>Covid brought many problems with it- both outside and within our home. My husband who used to work at a tailoring shop lost his job. It became very hard to make ends meet. We could not even pay the school fees of our daughter. This led to many fights at home and I could see my family falling apart. At that time, the Swabhiman community mobilizer started visiting me, asking about my health and well being. I started attending the meetings where we were taught about healthcare, financial literacy, and becoming self dependent. I gradually became more confident and encouraged my husband to start working from our home. I too learned sewing and got much-needed support to get a tailoring machine. After that, we started receiving orders and getting back on our feet. During Covid, I also taught how to make masks to other women in my slum who needed some extra income. Now, thankfully, things are much better. </p>
                    <h5 class="mb-1">Mrs. Shilpa</h5>
                    <span class="fst-italic">Sewing Master</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/Asha.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4">
                    <p>Asha was a daily wage labourer living with her family of six in Maharashtra. After a day's work her family was barely able to make ends meet. When Smile Foundation began its Swabhiman programme. she was one of the first to come on board and helped mobilize other women from her community. Initially. Asha took up Basket making cultivation in her backyard. The two-pronged benefit being that not only does she run her own business, but also uses handmadhe Basket making production. Slowly Asha mobilized other women of her community and formed a Self Help Group which now runs the Basket making business. During the Covid-19 lockdown, it was this essential business which helped their families survive. Asha is a true change-maker, who has led women from her community towards financial independence and confidence.</p>
                    <h5 class="mb-1">Mrs. Asha</h5>
                    <span class="fst-italic">Basket Maker</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/rama.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4">
                    <p>Before the pandemic, Anita was a young mother to a one-year old, living with her cab driver husband in Bengaluru. However, her husband lost his job in the lockdown and things turned bitter due to the resultant financial constraints. Anita, however. fought back. She joined the 'Entrepreneur Development Training Programme' of Smile Foundation which enables women to start their own ventures. Anita not only completed the training herself, but also gathered women in her community who were suffering like her. Soon she emerged as a leader of her peer group and set up a business of handmade organic cosmetics with them. Since then the group has started making lip balm, kajal, bathing salt, bathing powder and tooth powder. The enterprise has now been registered as "Kadamba Naturals". Yashoda wants to expand her business and support other women too in becoming self-reliant</p>
                    <h5 class="mb-1">Mrs. Anita</h5>
                    <span class="fst-italic">Cosmetics</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" routerLink="/About">About Us</a>
                    <a class="btn btn-link" routerLink="/contact">Contact Us</a>
                    <a class="btn btn-link" routerLink="/courses">Courses</a>
                    <a class="btn btn-link" routerLink="/donate">Donate</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>infoexample.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/istockphoto-1244354856-2048x2048.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/rural-indian.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/smiling-women.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/Women-Entrepreneurs.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/women.webp" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="assets/img/Industree-IKEA-collection-cut-e1579793440619.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Empower a woman, and you empower a community</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom"  routerLink="">Vision Shakti</a>, All Right Reserved.

                        
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a routerLink="/">Home</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    
</body>




    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>